<html>
<head>
	<title>All Posts | Camaraderie Culture</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'message_app/css/index.css' %}" media ="screen" charaset="utf-8">
</head>
<body>
	<h1><div id = "camaraderie">C A M A R A D E R I E</div> <div id = "culture">C U L T U R E</div></h1>

	<div id = "navbar">
		<a href="{% url 'message_app:index' %}" class = "navunit">Home</a>
		<a href="{% url 'message_app:popular' %}" class = "navunit">Popular</a>
		<a href="{% url 'message_app:about' %}" class = "navunit">About</a>
		<a href="{% url 'user_app:user' id=request.session.user.id %}" class = "navunit">Profile</a>
		<a href="{% url 'user_app:logout' %}" id = "logout">Log Out</a>
	</div>

	

	<div id = "main">

		<br>
		<div id = "posts">

		<a id = "postsuser" href = "{% url 'user_app:user' id=request.session.user.id %}">{{request.session.user.username}}</a>:<br>
		<form action = "{% url 'message_app:newmessage' %}" method="post">
			{% csrf_token %}
			<textarea id = "tomessage" name = "message" placeholder="Write something to share with your friends"></textarea>
			<br>
			<input id = "postmessage" type = "submit" value = "Post Message">
		</form>

		{% for message in posts %}

			<div id = "singlepost">
			<a id = "messageuser" href = "{% url 'user_app:user' id=message.user.id %}">{{message.user.username}}</a>
			<div id = "singlemessage">{{message.message}}</div>


				<form action = "{% url 'message_app:like' message.id %}" method="post">
					{% csrf_token %}
					<input id = "likepost" type = "submit" value = "LIKE">
					<input type = "hidden" name = "message" value = "{{message.id}}">
					<input type = "hidden" name = "user" value = "{{request.session.user.id}}">
				</form>

			<div id = "bottompost">
				{{message.messagelikes.count}} likes

					{% for like in message.messagelikes.all %}
						{% if like.user.id == request.session.user.id %}
							- <u>You liked this</u>
						{% endif %}
					{% endfor %}
			</div>

				<hr>

				Comments:

				{% for comment in message.comment.all %}
				<div id = "comment">
					<hr>
					<a id = "commentuser" href = "{% url 'user_app:user' id=comment.user.id %}">{{comment.user.username}}</a>
					{{comment.comment}}<br>
				</div>
				{% empty %}
					<p>0 Comments</p>
				{% endfor %}

				{% for message in messages %}
					{{message}}
				{% endfor %}
					<form id = "commentaction" action = "{% url 'message_app:comment' message.id %}" method="post">
						{% csrf_token %}
						<input id = "writecomment" type = 'text' name = 'comment' placeholder = "Post a Comment">
						<input type = "hidden" name = "user" value = "{{request.session.user.id}}">
						<input id = "postcomment" type = 'submit' value = "Comment">
					</form>
				<br>

			{% if message.user.id == request.session.id %}
				<a href="{% url 'message_app:delete' message.id %}">DELETE</a>
			{% endif %}

			</div>
		{% empty %}

			<p>No messages yet.</p>
		{% endfor %}
		</div>

	</div>

</body>
</html>