*{
	font-style: helvetica;
	font-weight: lighter;
	font-family: sans-serif;
}

#camaraderie{
	display: inline-block;
	color: #404853;
	margin: 10px;
	font-size: 25px;
}
#culture{
	display: inline-block;
	color: #6799ff;
	font-size: 25px;
}

#navbar{
	display: inline-block;
	margin-left: 620px;
	margin-top: -50px;
}
	.navunit{
		background-color: #404853;
		color: white;
		text-decoration: none;
		padding: 5px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 10px;
		border-radius: 2px;
	}

	#logout{
		color: #6799ff;
		text-decoration: none;
		margin: 10px;
	}

#main{
	background-color: #404853;
	border-top-style: solid;
	border-width: .5px;
	height: 555px;
}

h1{
	color: #6799ff;
}
	#posts{
		display: inline-block;
		background-color: white;
		margin-left: 200px;
		margin-top: 50px;
		padding: 50px 150px 100px 100px;
		width: 650px;
	}