*{
	font-style: helvetica;
	font-weight: lighter;
	font-family: serif;
}

#camaraderie{
	display: inline;
	color: #404853;
	margin: 10px;
	font-size: 25px;
}
#culture{
	display: inline;
	color: #6799ff;
	font-size: 25px;
}

#leftside{
	display: inline-block;
	width:600px;
	margin-left: 100px;
	color: #404853;
}
	#leftside input{
		margin: 5px;
		font-size: 20px;
		margin-left: 150px;
		margin-top: 20px;
		width: 250px;
		border-style: none;
	}

	#register{
		background-color: #6799ff;
		color: white;
	}

	#errors{
		color: red;
	}


#rightside{
	display: inline-block;
	margin-left: 200px;
	vertical-align: top;
	margin-top: -10px;
	padding: 55px;
	padding-top: 100px;
	background-color: #404853;
	height: 67%;
}
	#rightside input{
		font-size: 20px;
		margin: 5px;
		text-align: center;
		margin-left: 20px;
		margin-right: 20px;
		border-style: none;
		border-radius: 5px;
		width: 200px;
	}
	#rightside h2{
		color: white;
		text-align: center;
	}
	#login{
		background-color:  #6799ff;
		color: white;
	}
