<html>
<head>
	<title>USER.USER</title>
	<style type="text/css">
		#camaraderie{
			display: inline;
			color: #404853;
			margin: 10px;
			font-size: 25px;
		}
		#culture{
			display: inline;
			color: #6799ff;
			font-size: 25px;
		}
	</style>
</head>
<body>
	<h1><div id = "camaraderie">C A M A R A D E R I E</div> <div id = "culture">C U L T U R E</div></h1>
	<hr>

	<a href="{% url 'user_app:logout' %}">Log Out</a>
	<br>
	<a href="{% url 'message_app:index' %}">Home</a>
	<br>
	<h1>{{user.username}}</h1>
	<p>{{user.description}}</p>

	{% if user.id == request.session.user.id %}
		<form action = "{% url 'message_app:newmessage' %}" method="post">
			{% csrf_token %}
			<textarea name = "message"></textarea>
			<br>
			<input type = 'submit' value = "Post Message">
		</form>
	{% endif %}

	{% for message in messages %}
		<a href ="{% url 'user_app:user' id=message.user.id %}">{{message.user.username}}</a>
		{{message.message}}<br>
		({{message.messagelikes.count}} likes)
			{% for like in message.messagelikes.all %}
				{% if like.user.id == request.session.user.id %}
					You liked this
				{% endif %}
			{% endfor %}

				<form action = "{% url 'message_app:like' message.id %}" method="post">
				{% csrf_token %}
				<input type = "submit" value = "LIKE">
				<input type = "hidden" name = "message" value = "{{message.id}}">
				<input type = "hidden" name = "user" value = "{{request.session.user.id}}">
			</form>
		{% for comment in message.comment.all %}
			<a href="{% url 'user_app:user' id=comment.user.id %}">{{comment.user.username}}</a>
			{{comment.comment}}<br>
		{% endfor %}
		<form action = "{% url 'message_app:comment' id=request.session.user.id %}" method="post">
			{% csrf_token %}
			<input type = 'text' name = 'comment' placeholder = "Post a Comment">
			<input type = 'hidden' name='message' value = "{{message.id}}">
			<input type = 'submit' value = "Comment">
		</form>
	{% endfor %}


</body>
</html>